h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

input[type="text"],
input[type="number"],
input[type="url"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #1b5e20;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  grid-column: 1 / -1; /* Popunjava sve stupce */
}

button[type="submit"]:hover {
  background-color: #388e3c;
}
#genderSelect{
  width:103%;
  height: 54%;
  position: relative;
  left: 310px;
  bottom: 85px;
}
.genderSelect-title{
  position: relative;
 bottom: 18px;
}
#udomljen{
  position: relative;
  bottom: 77px;
}
#cip{
  position: relative;
  bottom: 77px;
}
#napomena{
  position: relative;
  bottom: 87px;
}
#dodaj-zivotinju{
  position: relative;
  bottom: 87px;
  height: 50px;
  font-size: 1.4rem;
 
}
.unos-title{
  font-size: 2rem;
}