html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f2f9f5;
  padding: 0px;
  

}

/* Top margin */
.top {
  margin-top: 10px;
}

/* Title */
.title {
  margin: 10px;
  padding: 0;
  color: #1b5e20;
  position: absolute;
  top: 26px;
  left: 0;
  font-size: 2.5rem;
  font-family: "Ubuntu";
  line-height: 1.5;
  font-weight: 900;
  
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #e1f5fe;
  padding: 10px;
  margin-top: 10px;
  font-family: "Montserrat-Light";
  font-size: 1.8rem;
}

/* Navbar links */
.nav-btn {
  margin-left: 10px;
  color: #1b5e20;
  text-decoration: none;
}

/* Navbar link hover */
.nav-btn:hover {
  color: #4caf50;
}
.form-check-label {
  margin-left: 10px;
  
}

.form-check-input {
  position: absolute;
  left: -9999px;
}

.form-check-input + .form-check-label:before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 16px;
  background-color: #6c757d;
  border-radius: 8px;
  position: relative;
  top: 2px;
  transition: background-color 0.3s ease;
  
}

.form-check-input:checked + .form-check-label:before {
  background-color: #007bff;
  
}

.form-check-input:focus + .form-check-label:before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: none;
  border-color: #007bff;
}

.form-check-input:disabled + .form-check-label {
  opacity: 0.65;
}

.form-check-input:disabled + .form-check-label:before {
  background-color: #e9ecef;
  cursor: not-allowed;
}
